
/**************Basic Styles*******************/
*{
	box-sizing: border-box;
}

h1{
	font-size: 1.75em;
	text-align: center;
}

.container {
	position: relative;
	margin-right: 10px;
	border: solid black 1px;
	background-color: #e6e6e6;
}

.mytitle {
	position: relative;
	float: right;
	border: solid black 1px;
	width: 25%;
}

.content{
	clear: both;
	padding-top: 3px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	text-align: justify;
}

div.mytitle > p{
	font-size: 1.25em;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.row{
	width: 100%;
}

div.container > p{
}

.chicken{
	background-color: #ffbf80;
}
.beef{
	background-color: #b3ecff;
}
.sushi{
	background-color: #b3ffd9;
}

/**************** Large Screens **************/
@media (min-width: 992px){
		.col-lg-4{
			float: left;
			width: 33.33%;
		}
}

/**************Medium Screens ****************/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
			float: left;
			width: 50%;
		}

	.col-md-12{
			width: 100%;
			float: left;
		}
}


/****************Small Screens *************/
@media (max-width: 767px){
	.col-sm-12{
		width: 100%;
		float: left;
	}
}