
/**************Basic Styles*******************/
*{
	box-sizing: border-box;
}

h1{
	font-size: 1.75em;
	text-align: center;
}

.container {
	position: relative;
	margin-right: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: solid black 1px;
	background-color: #e6e6e6;
}

.mytitle {
	position: relative;
	float: right;
	border: solid black 1px;
	width: 25%;
}

.content{
	padding-top: 3px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	text-align: justify;
	font-family: sans-serif;
}

div.mytitle > p{
	font-size: 1.25em;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.row{
	width: 100%;
}

div.container > p{
}

.chicken{
	background-color: #ffbf80;
}
.beef{
	background-color: #b3ecff;
}
.sushi{
	background-color: #b3ffd9;
}

/**************** Large Screens **************/
@media (min-width: 992px){
		.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-4{
  	width: 33.33%;
  }
}

/**************Medium Screens ****************/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
	.col-md-6{
			float: left;
		}

	.col-md-12{
			width: 100%;
			float: left;
		}
		.col-md-6{
			width: 50%;
		}
}


/****************Small Screens *************/
@media (max-width: 767px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
	.col-sm-12{
		width: 100%;
	}
}